<main>
  <header class="header">
      <img src="../assets/img/logo.png"/>
  </header>
      <section class="hero">
          <nav class="navbar">
              <ul>
                  <li><a href="#">SOBRE</a></li>
                  <li><a href="#">EQUIPAMENTOS</a></li>
                  <li><a href="#">CONSOLES</a></li>
                  <li><a href="#">JOGOS</a></li>
                  <li><a href="#">PC GAMER</a></li>
                  <li><a href="#">COLECIONAVEIS</a></li>
              </ul>
          </nav>
      </section>
      <P id="demo"></P>
      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Cookies
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nossos Cookies</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p>Você aceita nossos Cookies, que utilizamos para melhorar a experiência do usuário em nosso site? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceitar</button>
        <button type="button" class="btn btn-primary">Recusar</button>
      </div>
    </div>
  </div>
</div>
          <div class="nov">
              <p>Novidades</p>
             <table>
                  <tr>
                      <th><img src="/img/pc.png"/></th>
                      <th><img src="/img/port.png"/></th>
                      <th><img src="/img/tec.png"/></th>
                  </tr>
                  <tr>
                      <td><img src="/img/head.png"/></td>
                      <td><img src="/img/jogo2.png"/></td>
                      <td><img src="/img/jogo3.png"/></td>
                  </tr>
              </table> 
      </div>
  <footer class="footer">
      <table>
          <tr>
              <th><h3>SOBRE</h3></th>
          </tr>
          <tr>
              <td><p id="sbr">A Game Mania é a loja dos Gamers e amantes do Universo Digital.</p></td>
          </tr>
      </table>

  
  </footer>
</main>


<router-outlet></router-outlet>
